In [3]:
import pandas as pd
from utils import paths
import os

In [4]:
file_name = 'p0-0_match.txt'
file_path = os.path.join(paths.get_root_folder(),'data','schubert','match',file_name)

In [6]:
lines = []
with open(file_path) as f:
    lines = f.readlines()

In [19]:
notes = []
for line in lines:
    if '//' not in line:
        data = line.split('\t')
        notes.append(data)

In [34]:
column_names = ['id', 'time_onset', 'time_offset', 'pitch', 'velocity_onset', 'velocity_offset', 'channel', 'match_status','time_score', 'note_id', 'error_index', 'skip_index']
notes_df = pd.DataFrame(notes, columns=column_names)
notes_df = notes_df.astype({
    'id':int,
    'time_onset':float,
    'time_offset':float,
    'pitch':str,
    'velocity_onset':int,
    'velocity_offset':int,
    'channel': int,
    'match_status':int,
    'time_score':int,
    'note_id': str,
    'error_index':int,
    'skip_index':str
})
notes_df

,id,time_onset,time_offset,pitch,velocity_onset,velocity_offset,channel,match_status,time_score,note_id,error_index,skip_index
0,0,0.519497,1.081730,D3,35,34,0,0,0,*,3,0\n
1,1,0.531517,1.032317,Bb2,37,43,0,0,0,*,3,-\n
2,2,0.543536,0.958867,F4,23,33,0,0,0,*,3,-\n
3,3,0.567574,0.941505,Bb4,48,53,0,0,0,*,3,-\n
4,4,0.614316,0.953525,Bb3,28,39,0,0,0,*,3,-\n
...,...,...,...,...,...,...,...,...,...,...,...,...
10390,10390,1146.443832,1152.420055,D3,10,41,0,0,69888,P1-366-2,0,-\n
10391,10391,1146.450510,1148.706116,Bb2,26,6,0,0,69888,P1-366-1,0,-\n
10392,10392,1146.454516,1152.405365,F3,18,43,0,0,69888,P1-366-3,0,-\n
10393,10393,1146.455851,1152.429403,Bb3,28,37,0,0,69888,P1-366-4,0,-\n
10394,10394,1146.469206,1152.349275,Bb1,20,38,0,0,69888,P1-366-5,0,-\n

In [36]:
notes_df['duration'] = notes_df['time_offset'] - notes_df['time_onset']
notes_df['duration']

0        0.562233
1        0.500800
2        0.415331
3        0.373931
4        0.339209
           ...
10390    5.976223
10391    2.255606
10392    5.950849
10393    5.973552
10394    5.880069
Name: duration, Length: 10395, dtype: float64

In [39]:
unmatched = notes_df['note_id']=='*'
matched_notes = notes_df[~unmatched].reset_index(drop=True)
matched_notes

,id,time_onset,time_offset,pitch,velocity_onset,velocity_offset,channel,match_status,time_score,note_id,error_index,skip_index,duration
0,5,0.988247,1.438300,F3,37,53,0,0,24,P1-0-5,0,-\n,0.450053
1,6,1.379539,1.645298,Bb4,58,66,0,0,48,P1-1-3,0,-\n,0.265759
2,7,1.386217,1.733438,D3,43,53,0,0,48,P1-1-13,0,-\n,0.347221
3,8,1.388888,1.789528,F4,42,37,0,0,48,P1-1-2,0,-\n,0.400640
4,9,1.422274,1.710735,Bb2,36,42,0,0,48,P1-1-21,0,-\n,0.288461
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6773,10390,1146.443832,1152.420055,D3,10,41,0,0,69888,P1-366-2,0,-\n,5.976223
6774,10391,1146.450510,1148.706116,Bb2,26,6,0,0,69888,P1-366-1,0,-\n,2.255606
6775,10392,1146.454516,1152.405365,F3,18,43,0,0,69888,P1-366-3,0,-\n,5.950849
6776,10393,1146.455851,1152.429403,Bb3,28,37,0,0,69888,P1-366-4,0,-\n,5.973552
6777,10394,1146.469206,1152.349275,Bb1,20,38,0,0,69888,P1-366-5,0,-\n,5.880069