In [16]:
import pandas as pd
from utils import paths
import os

In [41]:
columns = ['name', 'nationality', 'year', 'piece', 'piece_id']
p1 = ['Jean-Selim Abdelmoula', 'Switzerland', 2018]
p2 = ['Vasyl Kotys', 'Ukraine', 2018]
p3 = ['Cheng Guang', 'China', 2014]
p4 = ['Peter Friis Johannson', 'Denmark/Sweden', 2014]
p5 = ['Piotr Rozanski', 'Poland', 2009]
p6 = ['Eric Zuber', 'USA', 2009]
p7 = ['Gregory DeTurck', 'USA', 2006]
p8 = ['Konstantin Krasnitsky', 'Belarus', 2006]
p9 = ['Mikhail Mordvinov', 'Russia', 2006]
p10 = ['Edisher Savitski', 'Georgia', 2006]
p11 = ['Benjamin Kim', 'USA', 2004]
players = [p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11]

for i, player in enumerate(players):
    player += ['D960', i]

In [42]:
p1 = ['Misha Galant', 'USA', 2018]
p2 = ['Darya Kiseleva', 'Russia', 2018]
p3 = ['Victor Maslov', 'Russia', 2018]
p4 = ['Ka Jeng Wong', 'Hong Kong', 2018]
p5 = ['Alexey Chernov', 'Russia', 2014]
p6 = ['Timur Mustakimov', 'Russia', 2014]
p7 = ['Grace Eun Hae Kim', 'South Korea', 2009]
p8 = ['Rui Shi', 'China', 2009]
p9 = ['Helene Tysman', 'France', 2009]
p10 = ['Denis Evstioukhine', 'Russia', 2004]
p11 = ['Hanna Shybayeva', 'Belarus', 2004]
p12 = ['Yung Wook Yoo', 'South Korea', 2004]
p13 = ['Mei-Ting Sun', 'USA', 2002]

players_d958 = [p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13]

for i, player in enumerate(players_d958):
    player += ['D958', i]

players += players_d958

In [44]:
players_df = pd.DataFrame(players, columns=columns)
players_df

                     name     nationality  year piece  piece_id
0   Jean-Selim Abdelmoula     Switzerland  2018  D960         0
1             Vasyl Kotys         Ukraine  2018  D960         1
2             Cheng Guang           China  2014  D960         2
3   Peter Friis Johannson  Denmark/Sweden  2014  D960         3
4          Piotr Rozanski          Poland  2009  D960         4
5              Eric Zuber             USA  2009  D960         5
6         Gregory DeTurck             USA  2006  D960         6
7   Konstantin Krasnitsky         Belarus  2006  D960         7
8       Mikhail Mordvinov          Russia  2006  D960         8
9        Edisher Savitski         Georgia  2006  D960         9
10           Benjamin Kim             USA  2004  D960        10
11           Misha Galant             USA  2018  D958         0
12         Darya Kiseleva          Russia  2018  D958         1
13          Victor Maslov          Russia  2018  D958         2
14           Ka Jeng Wong       Hong Kong  2018  D958         3
15         Alexey Chernov          Russia  2014  D958         4
16       Timur Mustakimov          Russia  2014  D958         5
17      Grace Eun Hae Kim     South Korea  2009  D958         6
18                Rui Shi           China  2009  D958         7
19          Helene Tysman          France  2009  D958         8
20     Denis Evstioukhine          Russia  2004  D958         9
21        Hanna Shybayeva         Belarus  2004  D958        10
22          Yung Wook Yoo     South Korea  2004  D958        11
23           Mei-Ting Sun             USA  2002  D958        12

In [45]:
schubert_path = os.path.join(paths.get_root_folder(), 'data', 'schubert')
file_name = 'meta.json'
file_path = os.path.join(schubert_path, file_name)
players_df.to_json(file_path)